<h1>Enter the dollar amount you want made into change!</h1>
<form action='/change' method='get'>
  <div class="form-group">
    <label for="dollars">Enter the dollar amount</label>
    <input id="dollars" name="dollars" class="form-control" type="number" step="0.01">
  </div>
  <button type="submit" class="btn">Calculate Change!</button>
</form>
